:root {
  --green-1: #B3F12C;
  --green-2: #193B13;
  --grey-1: #DEE2E6;
  --grey-2: #DEE2E69D;
  --grey-3: #B7BABD;
  --grey-4: #D3D3D3;
  --grey-5: #1D1D1D;
  --grey-6: #808080;
  --grey-7: #ffffff80;
  --pink-1: #FF25AF;
  --pink-2: #C02386;
  --pink-3: #DD50A9E2;
  --purple-1: #5F3165;
  --purple-2: #946BA1;
  --purple-3: #6C4E75;
  --violet-1: #CCCCFF;
  --violet-2: #CF9FFF;
  --violet-3: #A870E0;
  --white-2: #E3E2E2;
  --yellow: #FFE100D7;
}


.aboutMeContainer {
  /* border: 1px solid limegreen; */
  width: 100%;
  height: 100%;
}

.imgContainer {
  /* border: 1px solid salmon; */
  width: auto;
}

.profilePicture {
  border: 0.4rem solid var(--violet-2);
  width: 20vh;
  height: 20vh;
}

.link {
  color: var(--violet-1);
}

.title {
  /* border: 1px solid white; */
  background: linear-gradient(90deg, var(--violet-2) 30%, var(--white-2) 70%);
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
  width: auto;
}

/* .textImageContainer {
  border: 1px solid red;
} */

.textContent {
  /* border: 1px solid lightblue; */
  color: var(--white-2);
  font-size: 1rem;
  text-align: justify;
}

.year {
  color: var(--green-1);
}

@media (min-width: 1200px) {

  .textContent {
    font-size: 1.3rem;
  }

  .profilePicture {
    height: 20vw;
    width: 20vw;
  }
  
}