@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hind:wght@300&family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

    body {
        background-color: #f0d694;
        font-family: 'Hind', sans-serif;
        font-size: 30px;
    }

    #titulo {
        color: #264653;
        text-align: center;
        font-size: 3em;
        margin-bottom: 0px;
        border-bottom: 6px dotted;
    }

    .meu-nome {
        margin-bottom: 15px;
        text-align: center;
        color: #2a9d8f;
        font-size: 1.5em;
        border-bottom: 6px dotted #264653;
    }

    .foto-container {
        width:270px;
        height: 353px;
        display: inline-block;
    }
    
    img { 
        width: 250px;
        padding: 10px;
        background-color: #8b7439;
    }


    .about-me {
        margin-right: 55%;
        display: inline-block;
        float: right;
        margin-left: 0px;
    }

    .habilidades{
        display: flexbox;
    }

    .habilidade-impar:hover{
        background-color: #2a9d8f;
    }

   /*  div {
        border: 2px solid red;
    } */
 
    h3:not(#nome-completo){
        font-size: 1.8em;
        color: #e76f51;
        font-family: 'Exo 2', sans-serif;
    }