:root {
  :root {
    --dark-green: #193B13;
    --grey: #808080;
    --light-grey: #DEE2E6;
    --light-grey-1: #DEE2E69D;
    --light-grey-2: #B7BABD;
    --light-violet: #CF9FFF;
    --light-violet-hover: #A870E0;
    --lime-green: #B3F12C;
    --pale-violet: #CCCCFF;
    --pink: #FF25AF;
    --purple: #6C4E75;
    --purple-2: #946BA1;
    --white-2: #E3E2E2;
  }
}

button {
  cursor: not-allowed;
}

label {
  color: var(--pale-violet);
  font-size: 1.3rem;
  font-weight: 700;
}

.input:focus {
  border-color: var(--white-2) !important;
  box-shadow: 0 0 0 0.2rem var(--pink) !important; 
}