:root {
    --grey: #808080;
    --light-grey: #dee2e6;
    --light-grey-1: #dee2e69d;
    --light-grey-2: #b7babd;
    --light-violet: #CF9FFF;
    --light-violet-hover: #a870e0;
    --lime-green: #b3f12c;
    --pale-violet: #CCCCFF;
    --pink: #ff25af;
    --purple: #6c4e75;
}


.bodyHome {
  background-color: var(--purple);
  height: 100vh;
}

@keyframes blink {
  50% {
    visibility: hidden;
  }
}

.cursor {
  animation: blink 0.6s step-start 1;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  height: 3vw;
  width: 0.3vw;
}

.gitHubContainer , .linkedInContainer {
  /* border: 1px solid orange; */
  height: 2rem;
  width: 2rem;
}

.gitHubContainer:hover , .linkedInContainer:hover {
  background: linear-gradient(60deg, var(--pink), var(--light-violet-hover));
}

.helloWorld {
  /* border: 1px solid orange; */
  color: var(--lime-green);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2rem;
  font-weight: 400;
}

.hidden {
  visibility: hidden;
}

.homeContainer {
  background-color: var(--purple);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  min-height: 100%;
  max-width: 100vw;
}

.iAm {
  /* border: 1px solid black; */
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

/* .imgContainer {
  border: 1px solid red;
} */

.imgProfile {
  height: 40vw;
  width: 40vw;
}

.menuButtonHome {
  color: var(--light-grey);
}

.myName {
  /* border: 1px solid black; */
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
  font-size: 2.8rem;
  font-weight: 900;
  text-align: center;
}

.navbarHome {
  color: var(--purple);
}

.socialNetWorksContainer {
  /* border: 1px solid black; */
  gap: 4%;
  height: auto;
  width: 100%;
}

.textContainer {
  /* border: 1px solid black; */
  gap: 3%;
  height: 70%;
}

.textImageContainer {
  /* border: 1px solid lightblue; */
  gap: 6%;
  height: 82vh;
}

.typedText {
  border: 1px solid var(--pale-violet);
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
}
