:root {
  --dark-purple: #4B0082;
  --light-purple: #9370DB;
  --purple: #6c4e75;
  --light-grey: #D3D3D3;
  --grey: #808080;
  --dark-green: #2F4F4F;
  --blue: #1E90FF;
  --light-blue: #87CEFA;
  --white: #FFFFFF;
  --pink: #ff25af;
}

img {
  height: 70vh;
  width: 50vw;
}

.badge-info {
  background-color: var(--light-blue);
  color: var(--white);
}

.btn-primary {
  background-color: var(--blue);
  border: none;
}

.btn-secondary {
  background-color: var(--grey);
  border: none;
}

.cardBody {
  padding: 1.5rem;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectCard {
  background-color: var(--light-grey);
  border: 2px dashed darkgreen;
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  overflow: hidden; /* Garante que o conteúdo não extrapole o card */
}

.projectCard:hover .showAfter {
  opacity: 1; /* Torna visível ao passar o mouse */
}

.projectContainer {
  padding: 2rem;
}

.projectDescription {
  color: var(--purple);
  font-size: 1rem;
}

.projectTitleCard {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: bold;
}

.projectTitleImg {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: bold;
}

.rowCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.showAfter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--dark-green);
  transition: opacity 0.3s ease-in-out; /* Transição suave */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.showBefore img {
  width: 100%;
  height: auto;
}

.showBefore {
  position: relative;
}

.titleContainer {
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
}
