:root {
  --dark-green: #193B13;
  --dark-grey: #1d1d1d;
  --dark-purple: #5f3165;
  --grey: #808080;
  --light-grey: #DEE2E6;
  --light-grey-1: #DEE2E69D;
  --light-grey-2: #B7BABD;
  --light-grey-3: #D3D3D3;
  --light-pink:#dd50a9e2;
  --light-violet: #CF9FFF;
  --light-violet-hover: #A870E0;
  --lime-green: #B3F12C;
  --pale-violet: #CCCCFF;
  --pink: #FF25AF;
  --pink-2: #c02386;
  --purple: #6C4E75;
  --purple-2: #946BA1;
  --white-2: #E3E2E2;
  --yellow: #ffe100d7;
}

.iconsGitHubAnDeploy {
  width: 1.2rem;
  height: 1.2rem;
}

h3 {
  text-align: left;
}

.badge-info {
  background-color: var(--light-blue);
  color: var(--white);
}

.btn {
  background-color: var(--light-violet);
  color: var(--dark-purple);
  font-size: 0.8rem;
  width: auto;
}

.btn:hover {
  background-color: var(--light-violet-hover);
  color: var(--dark-purple);
}

.btnsContainer {
  border: 1px solid var(--light-grey);
}

.cardBody {
  border: 1px solid var(--lime-green)
}

.cardsContainer {
  border: 1px solid var(--light-grey-3);

}

.columnCards {
border: 1px solid var(--yellow)
}

.highlight {
  font-style: italic;
  color: var(--pink);
}

.icons {
  width: 1.4rem;
  height: 1.4rem;
}

.projectCard {
  border: 0.2rem solid var(--light-violet);
  border-radius: 0.5rem;
  border-top-right-radius: 25px;
  overflow: hidden;
  padding-bottom: 2rem;
  position: relative;
}

.projectCard:hover .showAfter {
  opacity: 1; /* Torna visível ao passar o mouse */
}

.projectContainer {
  border: 1px solid var(--pale-violet)
}

.projectDescription {
  border: 1px solid orange;
  color: var(--dark-purple);
  font-size: 0.8rem;
}

.projectTech {
  border-radius: 0.4rem;
  font-size: 0.7rem;
}

.projectTechContainer {
  border: 1px solid var(--lime-green);
}

.projectTitleCard {
  border: 1px solid var(--white-2);
  color: var(--light-violet);
  font-size: 1.25rem;
  font-weight: bold;
  height: 3rem;
}

.projectTitleImg {
  border: 1px solid yellow;
  color: var(--pale-violet);
  font-size: 1.25rem;
  font-weight: bold;
}

.projectTitleImgContainer {
  border: 1px solid var(--light-violet);
  background-color: var(--purple);
  border-top-right-radius: 4rem;
  height: 3rem;
  width: 100%;
}

.showAfter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--lime-green);
  border-top-right-radius: 4rem;
  transition: opacity 0.3s ease-in-out; /* Transição suave */
  overflow-y: auto;
}

.showAfter::-webkit-scrollbar {
  width: 8px;
}

.showAfter::-webkit-scrollbar-thumb {
  background-color: var(--light-grey-2);
  border-radius: 4px;
}

.showBefore img {
  width: 100%;
  height: 100%;
}

.showBefore {
  position: relative;
}

.techAndLogoContainer {
  background: white;
  border: 1px solid var(--light-pink);
  border-radius: 0.5rem;
  color: var(--light-pink);
  width: auto;
}

.titleContainer {
  border: 1px solid salmon;
  position: relative;
  text-align: center;
}

@media (min-width: 768px) {
  .projectDescription {
    font-size: 1.4rem;
  }
}