html, body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
  padding: 0;
}

#root {
	height: 100%;
}

.main-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.navbar {
	box-shadow: 0 4px 2px -2px gray; 
	background-color: #6c4e75;
	color: #6c4e75;
	display: flex;
	padding: 2vw;
	gap: 3%;
}
.nav-link {
display: flex;
font-size: 1.6vw;
justify-content: space-evenly;
width: 15vw;
}

.nav-link:hover {
	color: rgba(31, 30, 30, 0.775);
	font-weight: bolder;
  transform: scale(1.3);
}