/* src/App.css */
html, body {
	background-color: var(--purple);
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	overflow: auto;
	padding: 0;
}

#root {
	height: 100%;
}

:root {
  --grey: #808080;
  --light-grey: #dee2e6;
  --light-grey-1: #dee2e69d;
  --light-grey-2: #b7babd;
  --light-violet: #CF9FFF;
  --light-violet-hover: #a870e0;
  --lime-green: #b3f12c;
  --pale-violet: #CCCCFF;
  --pink: #ff25af;
  --purple: #6c4e75;
  --purple-2: #946ba1;
  --white-2: #e3e2e2;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	width: 100%;
}

.menuButton {
  background: none;
  border: none;
  color: var(--purple);
  cursor: pointer;
  display: none; 
  font-size: 2rem;
	margin-left: auto;
}

.menuButton:hover {
	color: var(--pink);
}

.menuClosed {
  display: none;
}

.menuOpen {
  display: flex;
  flex-direction: row;
}

.navbar {
  align-items: center;
	background-color: var(--purple);
	box-shadow: 0 4px 2px -2px var(--grey); 
	color: var(--purple);
	display: flex;
	gap: 3%;
	height: 5rem;
	justify-content: space-between;
	overflow: hidden;
	padding-bottom: 2vh; 
	width: 100%;
}

.navbar > div {
  display: flex;
  flex-direction: row;
}

.navLink {
	color: var(--purple);
	display: flex;
	font-size: 1.3vw;
	justify-content: space-evenly;
	padding-top: 3vh;
	text-decoration: none;
	width: 15vw;
}

.navLinkHover {
	&:hover {
		color: var(--pink);
		font-weight: 700;
	}
} 

.titleBg {
	/* border: 1px solid blue; */
  color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: relative;
  text-align: center;
  -webkit-text-stroke: 1px var(--purple-2);
}

.titleContainer {
	/* border: 1px solid black; */
  height: 13vh;
	position: relative;
	width: 100%;
}

.titleFg {
	/* border: 1px solid red; */
  color: #e3e2e2;
  font-family: 'Roboto', sans-serif;
  left: 50%;
  position: absolute;
	text-align: center;
	top: 50%;
  transform: translate(-50%, -50%);
}

.defaultFontSizeBg {
	font-size: 5rem;
}
.defaultFontSizeFg {
	font-size: 2rem;
}

@media (max-width: 768px) {

	.closeButton {
		border-radius: 1rem;
		color: var(--purple);
		cursor: pointer;
		font-size: 2rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}

  .menuButton {
    display: inline-block;
		position: relative;
		right: 2rem;
  }
  
  .menuOpen {
		background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(10px);
    display: flex ! important; 
		flex-direction: column !important;
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1000; 
  }
  
  .navbar > div {
    display: none;
  }

	.menuOpen a {
		font-size: 1.5rem;
		text-align: center;
		width: 100%;
	}

	.roundedBorder {
    background-color: var(--light-grey-1);
		clip-path: circle(40%);
    height: 4rem;
		width: 4rem;
	}

	.roundedBorder:hover {
		background-color: var(--light-grey-2);
	}
}

@media (min-width: 992px) {
	.defaultFontSizeBg {
		font-size: 7rem;
	}

	.defaultFontSizeFg{
	font-size: 3rem;
	}
}