body {
	background-color: #945da3;
	font-family: r;
}
.main-container {
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	border: 1px solid red;
	gap: 3%;
}
.nav-link {
display: flex;
border: 1px purple solid;
justify-content: space-evenly;
width: 10vh;
}