/* src/App.css */
	:root {
		--green-1: #B3F12C;
		--green-2: #193B13;
		--grey-1: #DEE2E6;
		--grey-2: #DEE2E69D;
		--grey-3: #B7BABD;
		--grey-4: #D3D3D3;
		--grey-5: #1D1D1D;
		--grey-6: #808080;
		--grey-7: #ffffff80;
		--pink-1: #FF25AF;
		--pink-2: #C02386;
		--pink-3: #DD50A9E2;
		--purple-1: #5F3165;
		--purple-2: #946BA1;
		--purple-3: #6C4E75;
		--violet-1: #CCCCFF;
		--violet-2: #CF9FFF;
		--violet-3: #A870E0;
		--white-2: #E3E2E2;
		--yellow: #FFE100D7;
	}

html, body {
	background-color: #5f3165;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	overflow: auto;
	padding: 0;
}

#root {
	height: 100%;
}


.mainContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	width: 100%;
}

.menuButton {
  background: none;
  border: none;
  color: var(--purple-1);
  cursor: pointer;
  display: none; 
  font-size: 2rem;
	margin-left: auto;
}

.menuButton:hover {
	color: var(--pink-1);
}

.menuClosed {
  display: none;
}

.menuOpen {
  display: flex;
  flex-direction: row;
}

.navbar {
  align-items: center;
	background-color: var(--purple-1);
	box-shadow: 0 4px 2px -2px var(--grey-6); 
	color: var(--purple-1);
	display: flex;
	gap: 3%;
	height: 5rem;
	justify-content: space-between;
	overflow: hidden;
	padding-bottom: 2vh; 
	width: 100%;
}

.navbar > div {
  display: flex;
  flex-direction: row;
}

.navLink {
	color: var(--purple-1);
	display: flex;
	font-size: 1.3vw;
	justify-content: space-evenly;
	padding-top: 3vh;
	text-decoration: none;
	width: 15vw;
}

.navLinkHover {
	&:hover {
		color: var(--pink-1);
		font-weight: 700;
	}
} 

.titleBg {
	/* border: 1px solid blue; */
  color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: relative;
  text-align: center;
  -webkit-text-stroke: 1px var(--purple-2);
}

.titleContainer {
	/* border: 1px solid black; */
  height: 13vh;
	position: relative;
	width: 100%;
}

.titleFg {
	/* border: 1px solid red; */
  color: var(--white-2);
  font-family: 'Roboto', sans-serif;
  left: 50%;
  position: absolute;
	text-align: center;
	top: 50%;
  transform: translate(-50%, -50%);
}

.defaultFontSizeBg {
	font-size: 5rem;
}
.defaultFontSizeFg {
	font-size: 1.8rem;
}

.costumFontSizeBg {
	font-size: 4.2rem;
}
.costumFontSizeFg {
	font-size: 2rem;
}

@media (max-width: 768px) {

	.closeButton {
		border-radius: 1rem;
		color: var(--purple-1);
		cursor: pointer;
		font-size: 2rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}

  .menuButton {
    display: inline-block;
		position: relative;
		right: 2rem;
  }
  
  .menuOpen {
		background-color: var(--grey-7);
		backdrop-filter: blur(10px);
    display: flex ! important; 
		flex-direction: column !important;
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1000; 
  }
  
  .navbar > div {
    display: none;
  }

	.menuOpen a {
		font-size: 1.5rem;
		text-align: center;
		width: 100%;
	}

	.roundedBorder {
    background-color: var(--grey-1);
		clip-path: circle(40%);
    height: 4rem;
		width: 4rem;
	}

	.roundedBorder:hover {
		background-color: var(--grey-2);
	}
}

@media (min-width: 992px) {
	.defaultFontSizeBg {
		font-size: 7rem;
	}

	.defaultFontSizeFg {
		font-size: 3rem;
	}

	.costumFontSizeBg {
		font-size: 6.5rem;
	}
	.costumFontSizeFg {
		font-size: 3.5rem;
	}
}