/* src/App.css */
html, body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#root {
	height: 100%;
}

:root {
  --purple: #6c4e75;
  --pink: #ff25af;
  --light-grey: #dee2e6;
	--grey: #808080;
	--lime-green:  rgb(179, 241, 44);
}

.mainContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	overflow: auto; /* Impede overflow */
}

.navbar {
	box-shadow: 0 4px 2px -2px var(--grey); 
	background-color: var(--purple);
	color: var(--purple);
	display: flex;
	padding-bottom: 3vh; /* Corrige o valor de padding */
	gap: 3%;
}

.navLink {
	color: var(--purple);
	display: flex;
	font-size: 1.3vw;
	justify-content: space-evenly;
	padding-top: 3vh;
	text-decoration: none;
	width: 15vw;
}

.navLinkHover {
	&:hover {
		color: var(--pink);
		transform: scale(1.1);
	}
} 

.titleBg {
  -webkit-text-stroke: 1px var(--light-grey);
  color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  font-weight: 900;
  position: relative;
  text-align: center;
}

.titleContainer {
  height: 13vh;
	position: relative;
}

.titleFg {
  color: var(--purple);
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  position: absolute;
	top: 50%;
  left: 50%;
	text-align: center;
  transform: translate(-50%, -50%);
	width: 100%;
}