/* src/App.css */
html, body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#root {
	height: 100%;
}

:root {
  --purple: #6c4e75;
  --pink: #ff25af;
  --light-grey: #dee2e6;
	--grey: #808080;
}

.main-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden; /* Impede overflow */
}

.navbar {
	box-shadow: 0 4px 2px -2px var(--grey); 
	background-color: var(--purple);
	color: var(--purple);
	display: flex;
	padding-bottom: 3vh; /* Corrige o valor de padding */
	gap: 3%;
}

.nav-link {
	display: flex;
	font-size: 1.3vw;
	justify-content: space-evenly;
	width: 15vw;
}

.nav-link:hover {
	color: var(--pink);
	font-weight: bolder;
	transform: scale(1.3);
}